.signup-form {
  border-radius: 20px;
  background: #fffefe;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 3rem !important;
}

.signup-wrapper {
  margin-left: 140px;
}

.signup-heading {
  margin-bottom: 40px;
}

.signup-title {
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0em;
  color: #3e4347;
}

.signup-btn {
  height: 40px;
  width: 200px;
  font-family: DM Sans;
  font-size: 14px;
  color: white;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  align-self: center;
  background: linear-gradient(
    90deg,
    #caf4ed -18.14%,
    rgba(196, 181, 249, 0.8) 95.7%
  );
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.signup-slider {
  margin-top: 20px;
  color: purple;
}
